# Server Configuration
PORT=3000
NODE_ENV=development

# DynamoDB Configuration
AWS_REGION=us-east-1
AWS_ACCESS_KEY_ID=your_access_key_id
AWS_SECRET_ACCESS_KEY=your_secret_access_key
DYNAMODB_TABLE_RESERVATIONS=car-rental-reservations
DYNAMODB_TABLE_CARS=car-rental-cars 